div.checker {
    font-family: "Open Sans", Arial, sans-serif;
    color: #454545;
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
}

.unknown {
    color: dimgrey;
    font-weight: bolder;
}

.passed {
    color: green;
    font-weight: bolder;
}

.maybe {
    color: goldenrod;
    font-weight: bolder;
}

.failed {
    color: darkred;
    font-weight: bolder;
}

input[type=text], select {
    max-width: 400px;
    min-width: 150px;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
}

div.checker {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 20px 10px 20px;
}

p#result {
    padding: 10px 0 0 0;
    margin: 0;
}


a {
	text-decoration: none !important;
	color: #52adc8;
}

a:visited {
		  color: #7dc2d6;
	}
	
a:visited:hover {
		  color: #3e8296;
	}

a:hover, a:active {
		color: #3e8296;
		outline: 0;
	}



a img {
	vertical-align: bottom !important;