div.checker {
    font-family: "Open Sans", Arial, sans-serif;
    color: #454545;
    font-size: 16px;
    line-height: 1.8em;
    text-align: left;
    margin: 0 25%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5% 5% 2% 5%;
}

@media screen and (max-device-width: 1600px) {
    div.checker {
        margin: 0 15%;
        padding: 2% 5%;
    }
}

@media screen and (max-device-width: 1200px) {
    div.checker {
        margin: 0 5%;
        padding: 2% 5%;
    }
}

@media screen and (max-device-width: 500px) {
    div.checker {
        margin: 0 5%;
        padding: 2% 5%;
    }


}

.checker_h1 {
    text-align: center;
    line-height: 1.3em;
}

.checker_h3 {
    text-align: right;
    font-size: .8em;
    color: #949494;
}

.unknown, .passed, .maybe, .failed {
    display: inline-block;
}

.unknown {
    color: dimgrey;
    font-weight: bolder;
}

.passed {
    color: green;
    font-weight: bolder;
}

.maybe {
    color: goldenrod;
    font-weight: bolder;
}

.failed {
    color: darkred;
    font-weight: bolder;
}

.checker em {
    color: #949494;
}

input[type=text], select {
    max-width: 400px;
    min-width: 150px;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.checker_p#result {
    padding: 10px 0 0 0;
    margin: 0;
}

.checker_a {
	text-decoration: none !important;
	color: #52adc8;
}

.checker_a:visited {
		  color: #7dc2d6;
	}
	
.checker_a:visited:hover {
		  color: #3e8296;
	}

.checker_a:hover, .checker_a:active {
		color: #3e8296;
		outline: 0;
	}

.checker_a .checker_img {
	vertical-align: bottom !important;
}

.checker_img {
    width: calc(100vw - 100px);
    max-width: 394px;
}

.checker_body {
    background-color: #e9e9e9;
}