extends ../layout/main

block variables
    - var title = 'Помощник в выборе метода прошивки Nintendo Switch'

block content
    .checker__body
        h1.checker_title !{title}
        div.info
            h3
                p Дисклеймер
            p 
                strong Авторы этого сайта не несут ответственности за информацию на этой странице. Все диапазоны серийников взяты из открытых источников и скорректированные личным опытом. Никакие притензии по поводу того, что на сайте был показан зеленый серийник, а приставка в итоге не прошивается, или наоборот, не принимаются! 
            p Для приставки первой ревизии, единственный верный способ узнать прошивается она или нет - это проверить, пробросив пейлоад. Проверка серийного номера не даёт 100% результата. Например, приставка с серийником <strong>XAW10065928690</strong> будет обозначена как прошиваемая, но по факту таковой не является. Очень часто восстановленные консоли имеют прошиваемый серийник, но на деле уязвимость в них закрыта. Имейте это ввиду. 
            p При проверке через tegrarcmGUI у непрошиваемой консоли экран останется чёрным, хотя в окне tegrarcmGUI и будет показано, что пейлоад проброшен успешно. В логе программы будет указано значение <strong>0x0000</strong>. Это означает, что вашу приставку нельзя прошить с помощью <a class="checker_a" href="http://switch.customfw.xyz/fusee-gelee">Fusée Gelée</a></p><img class="checker_img" src="img/tegra.png"></p><p class="checker_p">Если это ваш случай, то для вашей приставки подойдёт <strong>чип SX Core.</strong></p><p class="checker_p"><strong>Подробнее про чипы <a href="https://switch.customfw.xyz/modchip">в руководстве</a></strong>.

        div.info
            h3 
                a(href="http://switch.customfw.xyz/fusee-gelee") Fusée Gelée
            p Этим типом взлома можно взломать только приставки, выпускавшиеся до лета 2018го года. Несмотря на то, что после указанного периода приставки выходили точно на такой же аппаратной платформе, уязвимость была закрыта. Если вы не знаете уязвима ли ваша приставка к методу Fusée Gelée, ниже вы найдёте помощник для подборки типа уязвимости по серийному номеру, воспользуйтесь им. 
        div.info
            h3 
                a(href="http://switch.customfw.xyz/fusee-gelee") Caffeine
            p С помощью этого типа взлома, можно взломать любую Nintendo Switch с версией системного ПО 4.0.0 - 4.1.0. Это программная уязвимость, привязанная к определенной версии системного ПО и работающая только на ней.
        div.info
            h3 
                a(href="http://switch.customfw.xyz/modchip") Чиповка
            p С помощью чиповки можно взломать вообще любой Nintendo Switch. Чипы на платформе Mariko (так называемая вторая ревизия, приставки серии Lite и OLED) можно взломать только с помощью чиповки. Приставки первой ревизии с закрытой уязвимостью и с прошивкой выше, чем 4.1.0 тоже можно взломать только прочиповав. 
        .table__wrapper
            .table__container
                .table__ns__caption.table__caption Nintendo Switch
                .table__ns__body.table__body#ns
                    img#button.table(src="img/ns.png" alt="Nintendo Switch" data-result="result1" class="descriptionToggler")
                .table__nsl__caption.table__caption Nintendo Switch Lite / OLED
                .table__nsl__body.table__body#nsl
                    img.table(src="img/nsl.png" alt="Nintendo Switch Lite" data-result="result2" class="descriptionToggler")
        div#scroll_here.result.hidden
        div.check-result.hidden