extends ../layout/main

block variables
    - var title = 'Помощник в выборе метода прошивки Nintendo Switch'

block content
    .checker__body
        h1.checker_title !{title}
        div.info
            h3 
                a(href="http://switch.customfw.xyz/fusee-gelee") Fusée Gelée
            p Этим типом взлома можно взломать только приставки, выпускавшиеся до лета 2018го года. Несмотря на то, что после указанного периода приставки выходили точно на такой же аппаратной платформе, уязвимость была закрыта. Если вы не знаете уязвима ли ваша приставка к методу Fusée Gelée, ниже вы найдёте помощник для подборки типа уязвимости по серийному номеру, воспользуйтесь им. 
        div.info
            h3 
                a(href="http://switch.customfw.xyz/fusee-gelee") Caffeine
            p С помощью этого типа взлома, можно взломать любую Nintendo Switch с версией системного ПО 4.0.0 - 4.1.0. Это программная уязвимость, привязанная к определенной версии системного ПО и работающая только на ней.
        div.info
            h3 
                a(href="http://switch.customfw.xyz/modchip") Чиповка
            p С помощью чиповки можно взломать вообще любой Nintendo Switch. Чипы на платформе Mariko (так называемая вторая ревизия) можно взломать только с помощью чиповки. Приставки первой ревизии с закрытой уязвимостью и с прошивкой выше, чем 4.1.0 тоже можно взломать только прочиповав. 
        .table__wrapper
            .table__container
                .table__ns__caption.table__caption Nintendo Switch
                .table__ns__body.table__body#ns
                    img#button.table(src="img/ns.png" alt="Nintendo Switch" data-result="result1" class="descriptionToggler")
                .table__nsl__caption.table__caption Nintendo Switch Lite
                .table__nsl__body.table__body#nsl
                    img.table(src="img/nsl.png" alt="Nintendo Switch Lite" data-result="result2" class="descriptionToggler")
        div#scroll_here.result.hidden
        div.check-result.hidden